.books-container {
  padding: 2rem 6rem;
  gap: 0.7rem;
}

.book-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: auto;
  background-color: $primary-bg;
  border: 1px solid #e8e8e8;
  height: 115px;
  padding: 10px 20px;

  .type {
    font-size: 0.7rem;
    font-weight: bold;
    opacity: 0.7;
  }

  .title {
    font-family: 'Roboto Slab', serif;
    font-size: 1.15rem;
    line-height: 30px;
    font-weight: bold;
  }

  .auther {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 11px;
    font-size: 0.675rem;
    color: $primary-color;
  }
}

.book-btns {
  margin: 10px 0;
  padding: 0;

  button {
    background-color: transparent;
    border: none;
    border-right: 1px solid $primary-color;
    padding: 0 10px;
    line-height: 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border: none;
    }

    @extend .auther;
  }
}

.progress {
  width: 50px;
  transform: scale(0.2);
  background-color: blue;
}
