header {
  padding: 1rem 6.188rem;
  background-color: $primary-bg;

  h1 {
    color: #0290ff;
    font-size: 1.45rem;
    font-weight: bold;
  }

  ul {
    margin: 0 20px;
    gap: 25px;
  }

  .user {
    border: solid 1px #e8e8e8;
    padding: 0.6rem;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: $primary-color;
  }
}
